<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Otaku
    </title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- APP CSS -->
    <link href="{{ url_for('static', filename='css/app_django.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/grid_django.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
    
    <script type="text/javascript">
    var Anime = {{suggestions|tojson}};
  </script>

</head>

<body>

    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a  class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>Ota<span class="main-color">k</span>U
                </a>
                <div class="float-container">
                    <form method = "POST" action = "/recommends">
                        <div class="form-group shadow-textarea" style="width:800px;text-align: center;color: white;position: fixed;">
                            <input type="text" name="anime_search" class="movie form-control" id="autoComplete" autocomplete="off" placeholder="Enter the Anime Name" style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818" required="required" />
                            <br>
                        </div>

                     <div class="float-child2">
                        <div class="form-group" style="text-align: center;">
                            <button class="btn btn-primary btn-block movie-button" id = 'search' style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px;height:35px;"  >Search</button><br><br>
                        </div>
                     </div>

                </form>
                </div>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->

    <!-- HERO SECTION -->
    <div class="hero-section">
        <!-- HERO SLIDE -->
        <div class="hero-slide">
            <div class="owl-carousel carousel-nav-center" id="hero-carousel">
                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src='https://i.pinimg.com/originals/13/a1/01/13a10172127bbf9da50b8ce6db35eeaa.png' alt="" >
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                                {{dicts.name2[0]}}
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>{{dicts.name2[2]}}</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>{{dicts.name2[4]}}</span>
                                </div>
                                <div class="movie-info">
                                    <span>{{dicts.name2[5]}}</span>
                                </div>
                                <div class="movie-info">
                                    <span>{{dicts.name2[6]}}</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="{{ url_for('anime_info', anime_name=dicts.name2[0]) }}" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>See More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src='https://wallpaperaccess.com/full/1266707.png' alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                {{dicts.name1[0]}}
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>{{dicts.name1[2]}}</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>{{dicts.name1[4]}}</span>
                                </div>
                                <div class="movie-info">
                                    <span>{{dicts.name1[5]}}</span>
                                </div>
                                <div class="movie-info">
                                    <span>{{dicts.name1[6]}}</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                               
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="{{ url_for('anime_info', anime_name=dicts.name1[0]) }}" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>See More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
                <!-- SLIDE ITEM -->
                <div class="hero-slide-item">
                    <img src='https://i.pinimg.com/originals/1b/c1/ce/1bc1cea18ed672c5a0038ea7c6a9072c.jpg' alt="">
                    <div class="overlay"></div>
                    <div class="hero-slide-item-content">
                        <div class="item-content-wraper">
                            <div class="item-content-title top-down">
                                {{dicts.name0[0]}}
                            </div>
                            <div class="movie-infos top-down delay-2">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>{{dicts.name0[2]}}</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>{{dicts.name0[4]}}</span>
                                </div>
                                <div class="movie-info">
                                    <span>{{dicts.name0[5]}}</span>
                                </div>
                                <div class="movie-info">
                                    <span>{{dicts.name0[6]}}</span>
                                </div>
                            </div>
                            <div class="item-content-description top-down delay-4">
                                
                            </div>
                            <div class="item-action top-down delay-6">
                                <a href="{{ url_for('anime_info', anime_name=dicts.name0[0]) }}" class="btn btn-hover">
                                    <i class="bx bxs-right-arrow"></i>
                                    <span>See More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SLIDE ITEM -->
            </div>
        </div>
        <!-- END HERO SLIDE -->
        <!-- TOP MOVIES SLIDE -->
        <div class="top-movies-slide">
            <div class="owl-carousel" id="top-movies-slide">
                <!-- MOVIE ITEM -->
                <form method = "POST" action = "/anime",value='Click'>
                    
                <div class="movie-item", value='Click' >
                    <a href="{{ url_for('anime_info', anime_name=dicts.name6[0]) }}">
                    <img src="https://m.media-amazon.com/images/M/MV5BZjNmZDhkN2QtNDYyZC00YzJmLTg0ODUtN2FjNjhhMzE3ZmUxXkEyXkFqcGdeQXVyNjc2NjA5MTU@._V1_FMjpg_UX1000_.jpg" alt="">
                    <div class="movie-item-content">
                        
                        <div class="movie-item-title",name="movie" ,method='get', action='/anime'>
                            {{dicts.name6[0]}}
                        </div>
                    
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name6[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name6[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name6[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name6[6]}}</span>
                            </div>
                        </div>
                    </div></a>
                </div>
            </form>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <a href="{{ url_for('anime_info', anime_name=dicts.name30[0]) }}">
                    <img src="https://s.yimg.com/ny/api/res/1.2/Tj9jWYcFwkNKDRmhUscnpw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTkwNQ--/https://s.yimg.com/os/creatr-uploaded-images/2021-09/adcad830-202a-11ec-bbf6-2fd2014631e0" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name30[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name30[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name30[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name30[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name30[6]}}</span>
                            </div>
                        </div>
                    </div></a>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <a href="{{ url_for('anime_info', anime_name=dicts.name559[0]) }}">
                    <img src="https://flxt.tmsimg.com/assets/p186544_b_v8_ad.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name559[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name559[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name559[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name559[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name559[6]}}</span>
                            </div>
                        </div>
                    </div></a>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <a href="{{ url_for('anime_info', anime_name=dicts.name41[0]) }}">
                    <img src="https://wallpapercave.com/wp/wp4585083.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name41[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name41[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name41[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name41[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name41[6]}}</span>
                            </div>
                        </div>
                    </div></a>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <a href="{{ url_for('anime_info', anime_name=dicts.name121[0]) }}">
                    <img src="https://m.media-amazon.com/images/M/MV5BZmE1NjIyNjYtMTVmMy00M2YyLTljMjMtZGQwYmUxOTU4NjRlXkEyXkFqcGdeQXVyNjc3OTE4Nzk@._V1_.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                           {{dicts.name121[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name121[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name121[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name121[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name121[6]}}</span>
                            </div>
                        </div>
                    </div></a>
                </div>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <div class="movie-item">
                    <a href="{{ url_for('anime_info', anime_name=dicts.name126[0]) }}">
                    <img src="https://m.media-amazon.com/images/M/MV5BNzQ1MmJjZDUtMmI5OC00ZDk2LThkODQtODgwYmU0MTIzNDhmXkEyXkFqcGdeQXVyNDgyODgxNjE@._V1_FMjpg_UX1000_.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name126[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name126[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name126[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name126[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name126[6]}}</span>
                            </div>
                        </div>
                    </div></a>
                </div>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
        <!-- END TOP MOVIES SLIDE -->
    </div>
    <!-- END HERO SECTION -->

    <!-- LATEST MOVIES SECTION -->
    <div class="section">
        <div class="container">
            <div class="section-header">
                Biggest fanbase
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name66[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BODkzMjhjYTQtYmQyOS00NmZlLTg3Y2UtYjkzN2JkNmRjY2FhXkEyXkFqcGdeQXVyNTM4MDQ5MDc@._V1_FMjpg_UX1000_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name66[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name66[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name66[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name66[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name66[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name67[0]) }}" class="movie-item">
                    <img src='https://cdn.animenewsnetwork.com/hotlink/thumbnails/max700x700/cms/news/102888/one-piece-zou-visual.jpeg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name67[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name67[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name67[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name67[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name67[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name2927[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BYjY4MDU2YjMtNzY1MC00ODg1LWIwMzYtMWE5YTA3YTI4ZjMxXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name2927[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name2927[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name2927[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name2927[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name2927[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name101[0]) }}" class="movie-item">
                    <img src='https://cdn.europosters.eu/image/750/posters/one-punch-man-destruction-i61133.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name101[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name101[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name101[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name101[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name101[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name598[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BNmQzYmE2MGEtZjk4YS00YmVjLWEwZWMtODRkMjc4MTM5N2I3XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name598[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name598[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name598[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name598[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name598[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name877[0]) }}" class="movie-item">
                    <img src='https://images-na.ssl-images-amazon.com/images/I/81mJp8ObCNL.jpg'alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name877[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name877[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name877[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name877[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name877[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name3[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BMjUxMzE4ZDctODNjMS00MzIwLThjNDktODkwYjc5YWU0MDc0XkEyXkFqcGdeQXVyNjc3OTE4Nzk@._V1_FMjpg_UX1000_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name3[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name3[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name3[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name3[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name3[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>
    <!-- END LATEST MOVIES SECTION -->

    <!-- LATEST SERIES SECTION -->
    <div class="section">
        <div class="container">
            <div class="section-header">
                Movies
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name14[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BZGRkOGMxYTUtZTBhYS00NzI3LWEzMDQtOWRhMmNjNjJjMzM4XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name14[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name14[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name14[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name14[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name14[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name22[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BODRmZDVmNzUtZDA4ZC00NjhkLWI2M2UtN2M0ZDIzNDcxYThjL2ltYWdlXkEyXkFqcGdeQXVyNTk0MzMzODA@._V1_FMjpg_UX1000_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                           {{dicts.name22[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name22[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name22[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name22[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name22[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name62[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BOTg5ZjI5ZTAtOWE2OS00MjY4LWI4ZDQtMzEzMDY4MTgzYWJlXkEyXkFqcGdeQXVyNjc3OTE4Nzk@._V1_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name39[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name39[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name39[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name39[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name39[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name48[0]) }}" class="movie-item">
                    <img src='https://images-na.ssl-images-amazon.com/images/I/91Oojh0EQSS._RI_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name48[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name48[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name48[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name48[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name48[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name31[0]) }}" class="movie-item">
                    <img src='https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_360,c_scale/jackets/9781838719517.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name31[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name31[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name31[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name31[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name31[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name60[0]) }}" class="movie-item">
                    <img src='https://m.media-amazon.com/images/M/MV5BNmM4YTFmMmItMGE3Yy00MmRkLTlmZGEtMzZlOTQzYjk3MzA2XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg' alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name60[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name60[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name60[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name60[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name60[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name209[0]) }}" class="movie-item">
                    <img src='https://akibamarket.com/wp-content/uploads/2020/06/tenki.jpg'alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                           {{dicts.name209[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name209[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name209[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name209[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name209[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>
    <!-- END LATEST SERIES SECTION -->

    <!-- LATEST CARTOONS SECTION -->
    <div class="section">
        <div class="container">
            <div class="section-header">
                Epic
            </div>
            <div class="movies-slide carousel-nav-center owl-carousel">
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name1076[0]) }}" class="movie-item">
                    <img src="https://wallpapercave.com/wp/wp8936520.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name1076[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name1076[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name1076[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name1076[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name1076[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name67[0]) }}" class="movie-item">
                    <img src="https://i.pinimg.com/originals/79/4f/c6/794fc659b025e44256077d2751fe0cdd.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name67[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name67[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name67[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name67[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name67[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name787[0]) }}" class="movie-item">
                    <img src="https://i.pinimg.com/originals/83/57/3b/83573b44349c706e933f32672cc65a9a.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name787[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name787[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name787[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name787[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name787[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name448[0]) }}" class="movie-item">
                    <img src="https://m.media-amazon.com/images/M/MV5BNTAzYTlkMWEtOTNjZC00ZDU0LWI5ODUtYTRmYzY0MTAzYWZlXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_FMjpg_UX1000_.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name448[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name448[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name448[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name448[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name448[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name284[0]) }}" class="movie-item">
                    <img src="https://www.themoviedb.org/t/p/original/vRh0o4eq5kAFDgc95u1HTcJNuAw.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name284[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name284[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name284[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name284[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name284[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name371[0]) }}" class="movie-item">
                    <img src="https://m.media-amazon.com/images/M/MV5BMGMyOThiMGUtYmFmZi00YWM0LWJiM2QtZGMwM2Q2ODE4MzhhXkEyXkFqcGdeQXVyMjc2Nzg5OTQ@._V1_.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name371[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name371[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name371[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name371[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name371[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
                <!-- MOVIE ITEM -->
                <a href="{{ url_for('anime_info', anime_name=dicts.name926[0]) }}" class="movie-item">
                    <img src="https://m.media-amazon.com/images/M/MV5BY2IyMDA0NGEtZjIyOS00NjU0LThlOTctODA0OTZmMDU2ZTMxXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            {{dicts.name926[0]}}
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>{{dicts.name926[2]}}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{dicts.name926[4]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name926[5]}}</span>
                            </div>
                            <div class="movie-info">
                                <span>{{dicts.name926[6]}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END MOVIE ITEM -->
            </div>
        </div>
    </div>
    <!-- END LATEST CARTOONS SECTION -->

    <!-- SPECIAL MOVIE SECTION -->
    <div class="section">
        <div class="hero-slide-item">
            <img src='https://giffiles.alphacoders.com/351/35157.gif' alt="">
            <div class="overlay"></div>
            <div class="hero-slide-item-content">
                <div class="item-content-wraper">
                    <div class="item-content-title">
                        {{dicts.name614[0]}}
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>{{dicts.name614[2]}}</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>{{dicts.name614[4]}}</span>
                        </div>
                        <div class="movie-info">
                            <span>{{dicts.name614[5]}}</span>
                        </div>
                        <div class="movie-info">
                            <span>{{dicts.name614[6]}}</span>
                        </div>
                    </div>
                    <div class="item-content-description">
                        
                    </div>
                    <div class="item-action">
                        <a href="{{ url_for('anime_info', anime_name=dicts.name614[0]) }}" class="btn btn-hover">
                            <i class="bx bxs-right-arrow"></i>
                            <span>See More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SPECIAL MOVIE SECTION -->

    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Ota<span class="main-color">k</span>U
                        </a>
                        <p>
                            For Anime Lovers From Anime Lovers.
                        </p>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="#" class="social-item2">
                                <i class="fab fa-kaggle"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Otaku</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="#">Pricing plans</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Browse</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">My profile</a></li>
                                    <li><a href="#">Pricing plans</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- COPYRIGHT SECTION -->
    

    <!-- New -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/appnew_django.js')}}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js')}}"></script>
</body>

</html>