
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Otaku
    </title>
<!--    links try-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
<!--    main-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
<!--    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
<!--    try and error-->
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
    var Anime = {{suggestions|tojson}};
  </script>

     <!-- Auto Complete -->

</head>

<body>

    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a  class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>Ota<span class="main-color">k</span>U
                </a>
            </div>
        </div>
    </div>
    <!-- END NAV -->
    <div class="mainback" style="background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(https://cdn.wallpapersafari.com/28/72/eMnp5F.jpg);background-size:cover">
         <form method = "POST" action = "/recommends">
            <div class="form-group shadow-textarea" style="padding:50px;text-align: center;color: white;">
                <input type="text" name="movie" class="movie form-control" id="autoComplete" autocomplete="off" placeholder="Enter the Anime Name" style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818" required="required" />
                 <br>
            </div>


            <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-primary btn-block movie-button" style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px;"  >Search</button><br><br>
            </div>
         </form>
	</div>

    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Ota<span class="main-color">k</span>U
                        </a>
                        <p>
                            For Anime Lovers From Anime Lovers.
                        </p>
                        <div class="social-list">
                            <a href="https://github.com/VishalF5" class="social-item">
                                <i class="bx bxl-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                            <a href="https://www.kaggle.com/vishalmane10" class="social-item2">
                                <i class="fab fa-kaggle"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/vishal-mane-236472222/" class="social-item2">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="{{ url_for('static', filename='js/appnew.js')}}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js')}}"></script>

</body>

</html>
